.panel.panel-default
  .panel-heading All pages
  .panel-body
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit
  %ul.list-group
    - @pages.each do |page|
      %li.list-group-item= link_to page.title, page

= link_to 'New Page', new_page_path, class: 'btn btn-primary'
