%h1 Listing pages

%table.table.table-striped
  %tr
    %th Title

  - @pages.each do |page|
    %tr
      %td= link_to page.title, page

= link_to 'New Page', new_page_path, class: 'btn btn-primary'
