%p Setext-style:

%pre
  %code
    :preserve
      Header 1
      ========

      Header 2
      --------

%p atx-style (closing #’s are optional):

%pre
  %code
    :preserve
      # Header 1 #

      ## Header 2 ##

      ###### Header 6
