%p Inline (titles are optional):

%pre
  %code
    :preserve
      ![alt text](/path/img.jpg "Title")

%p Reference-style:

%pre
  %code
    :preserve
      ![alt text][id]
      [id]: /url/to/img.jpg "Title"
