%p Ordered, without paragraphs:

%pre
  %code
    :preserve
      1.  Foo
      2.  Bar

%p Unordered, with paragraphs:

%pre
  %code
    :preserve
      *   A list item.

          With multiple paragraphs.

      *   Bar

%p You can nest them:

%pre
  %code
    :preserve
      *   Abacus
          * answer
      *   Bubbles
          1.  bunk
          2.  bupkis
              * BELITTLER
          3. burper
      *   Cunning
